extends index
block result
    each car in result
        div.row
            img(src=car.imgLink)
            ul
                li(title="VehicleType" ) #{car.fordonstyp}
                li(title="Type" ) #{car.type}
                li(title="Brand" ) #{car.brand}
                li(title="Gearbox" ) #{car.gearbox}
